<web-app>

	<display-name>Proto Demo Security - Restful Service</display-name>

	<context-param>
    	<param-name>contextClass</param-name>
    	<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
	</context-param>
  	<context-param>
      	<param-name>contextConfigLocation</param-name>
    	  <param-value>com.proto.security.main.config.SecurityApplicationConfig</param-value>
  	</context-param>
    <listener>
    	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
 		<servlet-name>security-dispatcher</servlet-name>
 		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      	<init-param>
          	<param-name>contextClass</param-name>
          	<param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
      	</init-param>
      	<init-param>
          	<param-name>contextConfigLocation</param-name>
          	<param-value>com.proto.security.main.config.SecurityApplicationConfig</param-value>
      	</init-param>
      	<load-on-startup>1</load-on-startup>
	</servlet>
 
	<servlet-mapping>
 		<servlet-name>security-dispatcher</servlet-name>
 		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
</web-app>